<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="/Components/blog.css" />
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index.html" class="nav__logo">
                <img src="/Components/BlogImages/logo.png" alt="logo" />
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Components/blog.html" class="nav__link active-link">Blogs</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>
    <!--=============== background ===============-->
    <div class="blogPagebackgroundImg">
        <img src="/Components/BlogImages/blog-background.png" alt="background" />
    </div>
    <div class="blogPage">
        <div class="blogPage__header">
            <h2 class="blogPage__title">When Anonymity is a Good Different.</h2>
            <p class="blogPage__subtitle">
                February 06, 2023 • By
                <a href="/Components/blog.html">Yashi Jain - Public Relation Intern</a>
            </p>
        </div>
        <div class="blogPage__body">
            <p class="blogPage__bodytitle">
                <span class="custom-letter">T</span>ake a look at some prominent influencers out there. With a few
                exceptions, the presence they build online over the years can be very different from who they actually
                are. A person with a conventional day job might be building an art brand online. A retired singer may
                release tutorials on their personal website. A bunch of ambitious students may be pioneering the next
                Audio Revolution. The possibilities are endless.
            </p>
            <img src="/Components/BlogImages/blog18.png" alt="blog" />
            <p>
                One thing is for certain, anonymity is gaining popularity. We can understand why trolls and radical
                activists would want to remain anonymous. The question is, why are First-World people unbound by
                society’s shackles choosing to keep their profiles under wraps?
            </p>
            <h3>Reason#1</h3>
                <h3>Moonlighting is cool.</h3>
                <p>
                    Look at superheroes like Spider-Man, Shazam, Mr. Incredible and Big Hero 6. Not-so-normal people by
                    day, extraordinary people when they’re down for business. Face it, most of us love the idea of
                    having a secret identity and the sense of importance it gives.
                </p>
                <h3>Reason#2</h3>
                <h3>Haters are easier to deal with.</h3>
                <p>
                    Hating is not cool, period. However, you can’t deny that it’s much easier to deal with trolls and
                    haters when your facial identity isn’t revealed online.
                </p>
                <h3>Reason#3</h3>
                <h3>There’s a sense of security.</h3>
                <p>
                    We’ve all heard the axiom, there’s nothing anonymous on the Internet. Yet, unless we’re doing
                    something scandalously wrong or outrageously right, we know no one’s going to invest a ton of money
                    in uncovering our identity should we choose to keep our lives to ourselves. Stories about how
                    stalkers use location tags or constant updates to track people can be frightening. It’s a comfort
                    knowing that we haven’t divulged anything that could potentially threaten our and our loved ones’
                    identity and lives.
                </p>
                <br>
                <p>
                    Not that there’s anything new in keeping your identity hidden though. Mary Ann Evans, author of
                    several Classics including Middlemarch, the Mill on the Floss and more, went by the pen name George
                    Elliot. Literary favourite Jane Austen published all her books anonymously.
                </p>
                <br>
                <p>Back in the days, people concealed their identities to escape gender-based or race-based
                    discrimination, or to simply critique society unharmed (see: Lady Whistledown, Bridgerton). It’s a
                    new and dangerous world out there today. With increasing digital crimes, and the fear of being
                    called out for posting something stupid when you didn’t know better, anonymity is the go-to for many
                    users out there. Like all trends it has its pros and cons but still, can’t blame law-abiding
                    individuals who’ve chosen the low-key life.
                </p>
        </div>
        <div class="blogPage__footer">
            
        </div>
    </div>
</body>

</html>