<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="/Components/blog.css" />
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index.html" class="nav__logo">
                <img src="/Components/BlogImages/logo.png" alt="logo" />
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Components/blog.html" class="nav__link active-link">Blogs</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>
    <!--=============== background ===============-->
    <div class="blogPagebackgroundImg">
        <img src="/Components/BlogImages/blog-background.png" alt="background" />
    </div>
    <div class="blogPage">
        <div class="blogPage__header">
            <h2 class="blogPage__title">Being a Big Shot speaker with Aural
            </h2>
            <p class="blogPage__subtitle">
                February 06, 2023 • By
                <a href="/Components/blog.html">Yashi Jain - Public Relation Intern</a>
            </p>
        </div>
        <div class="blogPage__body">
            <p class="blogPage__bodytitle">
                <span class="custom-letter">S</span>ome call it charisma. Some call it courage. Some call it genetics
                and others call it a gift.
                <br>
                <br>
                Public speaking can open doors to several creative professions, whether it be, a bold onstage speaker, a
                budding podcaster, a sensational RJ, or a creative YouTuber.
                <br>
                <br>
                For many of us, the art of public speaking is a terrifying mystery. We look at the confidence and
                vivacity of some of the best speakers in the world and we ask ourselves, can we do it too?
            </p>
            <h3>Yes, you can.</h3>
            <img src="/Components/BlogImages/blog15.png" alt="blog" />
            <p>
                Every great artist started from square one.<br>
                So, how do you do it?<br>
                The answer is Voice Modulation.<br>
                There are five aspects that matter the most when you speak.<br>
            <h3>#1 is your Pace.</h3>
            You’ve probably heard the words "Slow down" from your English teacher at some point during your school days.
            <br>
            <br>
            Speaking too quickly reduces your chances of being understood. It is important to speak tangibly if you want
            your listeners to understand what you’re saying.
            <br>
            <br>
            Then again, you don’t want to speak too slowly as you might lose your listeners’ interest and come off as
            unsure. Your pace usually depends on the context as well.
            <br>
            <h3>#2 is your Tone.</h3>
            </p>
            <br>
            <p>
                When you got your first promotion, you didn’t excitedly break the news to your mom with a flat tone.
                <br>
                <br>
                When you were scared out of your mind when the bathroom lights went off, you didn’t scream with a flat
                tone. When your neighbor used the wrong pronouns for the tenth time, you didn’t vent it to your best
                friend with a flat tone.
                <br>
                <br>
                We’re emotional beings. We find it much easier to connect with someone when we understand how they feel.
                When you use a single tone to speak, your listeners lose interest because you’re not emotionally
                engaging with them .
            </p>
            <h3>#3 is your Pauses.</h3>
            <br>
            <p>
                Remember that relative of yours who talked so much they never stopped to catch a breath? Or your friend
                who was so excited all the time that you couldn’t understand a word they said? Pauses are the breaks we
                give in our sentences. They’ve got three uses:
            </p>
            <br>
            <p>
                1. They allow you to catch your breath.
                <br>
                2. They give you time to gather your thoughts.And most importantly,
                <br>
                3. They give your listeners time to process what you’ve said.
                <br>
                <br>
                No one likes an endless monologue. It can be tempting to simply deliver your message and leave as early
                as possible. Resist that urge because not giving the right amount of pauses can kill your audience’s
                connection with your narrative. Of course, it’s important that the pauses you give aren’t longer than
                necessary or that could make you look unsure and lacking in fluency.
                <br>
            <h3>#4 is the Emphasis you place.</h3>
            <br>
            Take a look at this example:
            <br>
            <p>· I did not do it.</p>
            <p>· I did not do it.</p>
            <p>· I <b>did not</b> do it.</p>
            <p>· I did not <b>do</b> it.</p>
            </p>
            <br>
            <p><b>Emphasis</b> is the stress we lay on certain words in our sentences.</p>
            <br>
            It can completely alter the meaning of your statement and is the quickest way to add some range to your
            speech.<br>
            <p>Adding <b>emphasis</b> to your words convey meaning to your listeners without having to explain tiny
                details. It
                can also be useful when you’re conveying an important message that needs to be known.</p>
            <p>
            <br>
            However, too much use of <b>emphasis</b> can come off as cringey and make them uncomfortable.
            </p>
            <h3>#5 is the Pitch of your voice</h3>
            <br>
            Vaguely speaking, the pitch is the highness or lowest of sound.
            <br>
            <br>
            Wait, what?<br>
            Look at this:<br>
            <b>“What’s happening here?” she shouted.<br>
                “What’s happening here?” she screeched.
            </b>
            <br>
            We’ll bet that you heard two completely different voices.
            <br>
            <br>
            Think of the sounds you get when you pull each string of a guitar. When properly tuned, each string is
            equally loud but completely different. The thinnest string seems to have the “highest” sound, right?
            <br>
            <br>
            Every voice is unique and special in its own way.
            <br>
            <br>
            Understanding your natural pitch and volume can help you craft and refine your content to play to your
            strength.<br>
            <b>So, how do you strike the balance, discover your strengths, and hit that perfect note?</b>
            <br>
            <b>Simple,<br>
                One, you understand your content and your audience.<br>
                Two, with practice and experimentation. Lots of it.<br>
            </b>
            It’s scary, we know.<br>
            All big things are scary to begin with. That’s how you change the world.<br>
            It won’t be easy, we know.<br>
            <br>
            <b>Aural is made for you. We give you a unique space to experiment, have fun and reach your full speaking
                potential, and make yourself heard with confidence, ease, and courage.</b>
            <h3>Are you ready for Aural?</h3>
            <b>Stay tuned for more such blogs. Until Then, Join the waitlist! Aural will soon be available to the
                smartphone in your pocket :)
            </b>
        </div>
        <div class="blogPage__footer">

        </div>
    </div>
</body>

</html>