<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="/Components/blog.css" />
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index.html" class="nav__logo">
                <img src="/Components/BlogImages/logo.png" alt="logo" />
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Components/blog.html" class="nav__link active-link">Blogs</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>
    <!--=============== background ===============-->
    <div class="blogPagebackgroundImg">
        <img src="/Components/BlogImages/blog-background.png" alt="background" />
    </div>
    <div class="blogPage">
        <div class="blogPage__header">
            <h2 class="blogPage__title">The Evolution of Audio</h2>
            <p class="blogPage__subtitle">
                February 06, 2023 • By
                <a href="/Components/blog.html">Yashi Jain - Public Relation Intern</a>
            </p>
        </div>
        <div class="blogPage__body">
            <h3>Introduction</h3>
            <p class="blogPage__bodytitle">
                <span class="custom-letter">W</span>hen was the last phone call you made? How long did it take to
                connect and where were you when you called? A simple act of calling someone, immediately connecting, in
                the middle of anywhere, was just a dream for people a couple of decades ago. No hassle of ‘call
                transfers’ and ‘landlines’. This advancement in audio technology, that makes us oblivious to the
                convenience we experience, helps us convey our minds in the simplest version of communication known to
                mankind, our voice.
            </p>
            <img src="/Components/BlogImages/blog6.png" alt="blog" />
            <h3>The History of Audio</h3>
            <p>
                Every house, office, store, or institution has a sound system set up. This can range from elaborate
                speaker systems to small alarms. Sound is a vital part of our day. The capability of recording sound was
                once non-existent. Let’s walk through the history of audio and witness the advancement in sound
                technology.
                <br>
                <br>
                Beating Alexander Graham Bell by just one year, David Edward Hughes constructed a carbon microphone in
                the year 1875. Shortly after, the next two decades saw a variety of such devices, out of which the most
                momentous ones were Bell’s telephone and Oliver Lodge’s loudspeaker. Sound technology developed further
                in the early 1900s with the electrical amplification of sound. By the early 1930s, the industry had
                adapted sound-on-film technology, in which the audio signal to be recorded was used to modulate a light
                source, allowing it to be photographed as variations in the density, which played as the soundtrack of
                the scene.
                <br>
                <br>
                After this, the focus of sound shifted from amplification to quality. The problems posed by recording
                and reproduction were resolved through magnetic tape recorders. This brought upon a drastic reshaping of
                what was once reality. People were unable to distinguish live music from recordings, resulting in
                gigantic sales of tapes and stereos.
            </p>
            <h3>The need for evolution</h3>
            <p>
                It's very well known that "Necessity is the mother of all Invention." With a plethora of new
                technologies and devices, people’s imagination and needs kept increasing. The revolutionary product Sony
                Walkman, was made to fulfil the co-founder Masaru Ibuka’s wish to be able to enjoy the simple pleasure
                of being able to listen to opera music while in flight on an aeroplane. This was the first portable
                music player that enabled people to listen to music anywhere across the globe. The ability to erase or
                record over certain files resulted in modifiable tapes, which helped with cost-cutting as well as
                transmutability in the field of audio quality and audio itself. The very invention of such a device,
                opened the roads of evolution to modern audio technology.
            </p>
            <h3>The present audio technology</h3>
            <p>
                The days of carrying a 500g device around, solely, for the purpose of listening to music or turning
                cassette reels to play your music are gone. All sounds are available on our smartphones and can be
                listened to in a few taps. Devices, as small as our fingertips, allow us to listen to high quality music
                wherever and whenever we want. While it took us several decades over a century to go from gramophones to
                magnetic tapes, the rise of the most revolutionary era of sound technology took only a little over 20
                years. The rise of the digital era of technology saw the hike in CD sales and by 1986, over 2 billion
                CDs had been sold. But the end of the 20th century was the end of their short prominence too. Digital
                audio files, music applications and devices surged in popularity a decade into the 21st century.
            </p>
            <h3>A Glimpse into the Future</h3>
            <p>
                Before Steve Jobs said, "A thousand songs at your fingertips", it was difficult to even imagine music in
                that sense. With the evolution of audio, nothing seems impossible. The world is moving at a rate faster
                than ever before. With Elon Musk's NeuraLink and other such technologies, it's only more reasonable to
                argue that the progress of audio technology is going to move forth, unhindered, to a point where in a
                few years, imagining a song or tune to have your brain play it from the internet seems like a reachable
                goal.
                <br>
                <br>
                Humans are known to have an audible range of 20Hz to 20KHz. It seems entirely possible that humans will
                surpass those limits. The applications of this are in millions. Imagine humans using sonar and
                ultrasound using barely their ears. At the other end of the spectrum, imagine how useful it would be to
                study the intrinsic sound frequencies which are emitted by every living thing and discover more secrets
                of the universe.
                <br>
                <br>
                The universe started with a loud bang and the sounds have never stopped ever since. The future might
                hold for us an entirely new definition of audios and sounds and its applications. Audio has the power to
                change everything and that's what the future is going to prove to us
                <br>
                <br>
                Audio is central to our lives. We consume various kinds of audio content regularly and often forget that
                this technology was not as accessible or existent as it is now. Listening to music required you to go to
                live performances. Honing your skills or learning something new could only be done through live
                lectures. The evolution of audio was life changing for all. The world hasn’t been the same. It would
                almost be unfair for such great power, if not harnessed in the correct manner.
                <br>
                <br>
                We at Aural are starting the next biggest revolution in the way you experience and perceive social
                audio. Don’t miss this opportunity. Beta-testing is open on our website. Sign up now!! Stay tuned for
                more blogs!
            </p>
        </div>
        <div class="blogPage__footer">
            <h3 class="authorTitle">About the Author</h3>
            <div class="authorCard">
                <img src="/Components/BlogImages/author1.png" alt="Author" />
                <p>
                    Hello, my name is <span class="authorName">Ahana Sadh</span>. I'm currently pursuing a B.Tech degree
                    from Sikkim Manipal Institute of Technology and currently interning
                    as a Social Media Manager at Aural. <br><br>
                    <a href="/Components/BlogPages/SocialAudio.html">Read More</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>