<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="/Components/blog.css" />
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index.html" class="nav__logo">
                <img src="/Components/BlogImages/logo.png" alt="logo" />
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Components/blog.html" class="nav__link active-link">Blogs</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>
    <!--=============== background ===============-->
    <div class="blogPagebackgroundImg">
        <img src="/Components/BlogImages/blog-background.png" alt="background" />
    </div>
    <div class="blogPage">
        <div class="blogPage__header">
            <h2 class="blogPage__title">How the Struggle to Feel Heard Built a Nation</h2>
            <p class="blogPage__subtitle">
                February 06, 2023 • By
                <a href="/Components/blog.html">Yashi Jain - Public Relation Intern</a>
            </p>
        </div>
        <div class="blogPage__body">
            <p class="blogPage__bodytitle">
                <span class="custom-letter">W</span>hat could have possibly brought together 340 million people, vastly
                different from one another, to fight for a cause that, at the time, seemed like an impossible dream?
                15th August, 1947 was a day of triumph for those belonging to the South Asian peninsula, who chose to
                call the nation they fought for “India”.
            </p>
            <img src="/Components/BlogImages/blog13.png" alt="blog" />
            <p>
                The seeds of the fight for independence were sown long ago, long before we believed freedom was even
                possible. After the Mutiny of 1857, the colonizers decided it was dangerous to give Indians “too much
                freedom”. Indians were denied high ranks in the administration, army, and other public services. Taxes
                were bumped up ten notches, outrageous policies gave rise to famines, and punishment for the alleged
                crimes was brutal and unjust. Then, something else happened too. The Vernacular Act of 1878 made it
                illegal for Indian Press to publish material against the British Government. Wait, a government
                announced a ban on media and public opinion? Sounds suspiciously unfamiliar, eh?
                <br>
                <br>
                The role of the press in the freedom struggle isn’t just a four-mark answer in History. It made Indians
                perceive that they weren’t being treated right and that they weren’t alone in their struggles. New
                perspectives opened up debates never brought up before. Newspapers like The Hindu, The Times of India,
                Bazar Patrika, and Samwad Kaumudi, run by the visionary Raja Rammohan Roy himself, voiced grievances
                from every section of Indian society. This is a valuable lesson we keep forgetting in today’s
                trend-driven, fickle world: your words do make an impact. Ironically, the very organization that played
                a pivotal role in uniting the masses and roping them into the Movement, the Indian National Congress,
                was meant to be, in the then-Viceroy Lord Curzon’s opinion, a safety-valve meant to secure British
                interests. There were other organizations too that had been created. The INC was initially a collective
                group of all these organizations, meant to gather all reports of public discontentment from different
                regions and submit them to the English. It was meant to masquerade as proof that the colonizers were
                acting in the interests of the people, further cemented by the fact that most leaders of the INC
                sincerely believed in the Crown.
                <br>
                <br>
                What made INC so special, though? We’ll come back to it later.
            </p>
            <br>
            <p>
                Repressive measures were taken by Curzon to curb the public’s rising resentment, the most important one
                being the partition of Bengal on the basis of religion. <b>People realized they weren’t being heard, and
                    that they would never be heard by their oppressors. </b>This discernment to an integral aspect of
                the
                Freedom Movement, the Radicals.
                Everyone wanted freedom. Clearly, passively and patiently asking for rights wasn’t helping their case.
                This fact gave birth to a younger, more aggressive branch of the INC, who believed that the only way to
                thrive was complete independence, or “Swaraj”. This created a rift among the members themselves for a
                time until slowly yet surely, every Indian began to understand that the only way out of their plight was
                “Swaraj” or self-rule
            </p>
            <br>
            <h4>Okay, why are we retaking History class right now?</h4>
            <br>
            <p>
                The Lal-Bal-Pal trio, as you probably know, were the most important figures in the Assertive Movement.
                Here’s a fun fact about them: all three of them were writers or journalists of some sort. Bal Gangadhar
                Tilak popularised the cult of radical patriotism through his newspaper Mahratta and Kesari. Bipin
                Chandra Pal worked as a journalist for Bengal Public Opinion, New India and The Tribune. Lala Lajpat Rai
                founded Young India, Punjab, Vande Mataram and People.<br>
                Evidently, writing and public influence had a lot to do with their success in popularising the idea of
                full independence. <b>They were true to their word, and they weren’t afraid of letting themselves be
                    heard.</b>
            </p>
            <br>
            <p>
                Most of us are good people deep down, and we want to make a difference so badly. Yet, there’s this fear
                of consequences that pushes us back to the cage we keep ourselves in. There were probably many others
                who might have felt passive resistance did nothing for Indians, directly at least. The ones who said it
                out loud, and stuck to their word, were the ones who were looked up to as role models.<br>
                Being vocal about pain, and struggles give them life and validation. This is what made the INC more than
                a “body” because it brought together whole cities and states to voice itself. Injustice and evil can
                never be truly eradicated from humanity. Empires rise and fall. Nations fall and rise. There will always
                be grievances, and they start with something as simple as feeling a little uncomfortable in a room. You
                owe it to the people in the room to say it out loud.
                <br>
                <br>
                <b>The reason Social Audio and Media are gaining so much popularity in recent times isn’t very different
                    from what made the Press so effective back then. Everyone wants to and deserves to, be listened to.
                    What took a radio broadcast or newspaper months to accomplish could be done with Aural or WhatsApp
                    in days.</b>
                <br>
                Freedom was won 90 painful years after the Mutiny broke out. We rose, we fell and we made mistakes. We
                are now in our 75th year of independence and in spite of all odds, we’ve come far as a nation.
                <br>
                <br>
                <b>There’s more to this day than a guaranteed holiday.
                </b>
                <br>
                <br>
                <b>There’s a responsibility we owe to a people who fought on, clinging to a hope that the children
                    they'd never live to see would build a thriving nation for themselves.</b>
                <br>
                <br>
                <b>There’s a responsibility to remember who we are.</b>
            </p>
        </div>
        <div class="blogPage__footer">

        </div>
    </div>
</body>

</html>