<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="/Components/blog.css" />
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index.html" class="nav__logo">
                <img src="/Components/BlogImages/logo.png" alt="logo" />
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Components/blog.html" class="nav__link active-link">Blogs</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>
    <!--=============== background ===============-->
    <div class="blogPagebackgroundImg">
        <img src="/Components/BlogImages/blog-background.png" alt="background" />
    </div>
    <div class="blogPage">
        <div class="blogPage__header">
            <h2 class="blogPage__title">A Light in the Darkness</h2>
            <p class="blogPage__subtitle">
                February 06, 2023 • By
                <a href="/Components/blog.html">Yashi Jain - Public Relation Intern</a>
            </p>
        </div>
        <div class="blogPage__body">
            <p class="blogPage__bodytitle">
                <span class="custom-letter">T</span>here have been numerous posts over the years on why social media
                can be bad for you but what about when it isn’t? With the rise of social media, people are now choosing
                to voice their stories and battles with neglect, trauma, and mental health online and being heard,
                anonymously or not. Even better, we’re finding support and a safe environment through the virtual world.
                At the very least, we’ve found somewhere to turn to when things don’t seem right.
            </p>
            <img src="/Components/BlogImages/blog14.png" alt="blog" />
            <p>
                Everyone’s got great and unpleasant anecdotes from their life. For some, the unpleasantness is more than
                the average person could ever comprehend.
                <br>
                <br>
                Different people choose to deal with it in different ways. Some unfortunately perpetuate the cycle of
                distress and neglect, and some find it wise to submit to their circumstances. Most hearteningly, some
                rise from their struggles and become wonderful and supportive people themselves. There is great, though
                sad, relief in knowing you’re not alone in your circumstances. You learn to empathise and support each
                other, and most powerfully, you learn to hope and grow.
                <br>
                <br>
                One great example is the online forum r/raisedbynarcissists on Reddit. The online group of 808k members
                is a support forum for sharing and empathising with the struggles and trauma of those who’ve had, as the
                name suggests, narcissistic guardians growing up. There are millions of people out there who’ve never
                met each other and they’re fighting for each others’ rights and celebrating their growth. It gives you a
                powerful hope for humanity.
            </p>
            <br>
            <p>
                30 years ago, if you lived in conflict, you wouldn’t even recognise that your circumstances aren’t
                normal, let alone get out of an unhealthy, or unsafe, environment. Through social media, survivors are
                taught and encouraged to fight back for their power. Even now, it isn’t easy at all and bad things like
                neglect and abuse still happen, but the number of people whose lives were changed for the better from
                seeking support through social media would melt your heart. Where prevention is possible, we’re trying
                our best to make it happen.
            </p>
            <br>
            <p>
                Another phenomenon is when people use their painful experiences to do something remarkable with their
                lives. Maya Angelou and Helen Keller did it decades ago. Not everyone can pull it off, and it’s
                definitely not something we ought to romanticise. Some do it to escape, some do it, heartbreakingly, to
                receive the recognition they know they deserve, and some do it to grow. Regardless of the reason, these
                people come out of their enforced shell and change the world.
            </p>
            <br>
            <p>
                There are many who argue as to the effectiveness of “escaping” through social media. One thing to note
                here is that we’re not referring to unhealthy coping habits online, we’re talking about finding hope,
                support and encouragement from one another.
                <br>
                <br>
                Take Zaira Wasim’s Secret Superstar. The protagonist grows up in a misogynistic, isolated home headed by
                an abusive father, and is encouraged by her sweet yet submissive mother to anonymously showcase her
                vocal talent online. (Of course, Aural could’ve helped her tons but that’s out of the point.) Her
                actions bring her recognition, and give them the courage to understand each other and escape their
                circumstances.
                <br>
                <br>
                The times are changing. There’s hope for all of us, but some need it more. And they’re getting it
                online, by sharing their story and making themselves heard.
                <br>
                <br>
                Until Then,
                <br>
                Don’t forget to share this blog with your loved ones!
            </p>
        </div>
        <div class="blogPage__footer">

        </div>
    </div>
</body>

</html>