<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="/Components/blog.css" />
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index.html" class="nav__logo">
                <img src="/Components/BlogImages/logo.png" alt="logo" />
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Components/blog.html" class="nav__link active-link">Blogs</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>
    <!--=============== background ===============-->
    <div class="blogPagebackgroundImg">
        <img src="/Components/BlogImages/blog-background.png" alt="background" />
    </div>
    <div class="blogPage">
        <div class="blogPage__header">
            <h2 class="blogPage__title">Narration: A Guide to Misguide?</h2>
            <p class="blogPage__subtitle">
                February 06, 2023 • By
                <a href="/Components/blog.html">Yashi Jain - Public Relation Intern</a>
            </p>
        </div>
        <div class="blogPage__body">
            <p class="blogPage__bodytitle">
                “BAM!!!!!”
                <br>
                Person 1- “I think I heard a gunshot in our neighbourhood! Call mom up and ask her to stay safe”
                <br>
                Person 2- “Heard that? That’s the loud annoying neighbour I told you about. Keeps making all kinds of
                noises with her instruments. Can’t catch a break”
            </p>
            <img src="/Components/BlogImages/blog9.png" alt="blog" />
            <p>One small sound, two entirely different interpretations. There was no bullet shot in the neighbourhood.
                The ‘loud’ neighbour wasn’t home at that time. We’re not aware of what happened because Person 1 was too
                afraid to check and Person 2 has a prejudiced judgement of his neighbour and was quick to make
                assumptions.
            </p>
            <h3>What is a narrative?</h3>
            <p>
                A narrative by definition is an account of a series of events or experiences. In simpler words, it's the
                interpretation of a situation based on one's perspective. But perspectives vary. Different people have
                entirely different understandings of a situation. While it is expected that people’s point of views
                differ, this causes a problem when one is passing valuable information or facts to someone else. This
                chain of misinterpretation results in a mass of people being deceived and confused.
            </p>
            <h3>Reliable and Unreliable Narrators</h3>
            <p>
                This brings us to the discussion of whether your informant is reliable or not. How can one tell if the
                information being presented to them is credible or not?
                <br>
                <br>
                A reliable narration is when you are presented an accurate and complete account of events. This requires
                the reporter to have a breadth of knowledge on the situation and has covered all possible scenarios that
                could be true.
                <br>
                <br>
                An unreliable narrator lacks credibility. In some cases, the narrator might not be aware that they’re
                misleading the public. These narratives are just biased perceptions of the individual. One's personal
                views and opinions subconsciously alter what they’ve heard or witnessed, causing their interpretation of
                the situation to be biased.
            </p>
            <h3>How is misinformation spread?</h3>
            <p>
                Have you heard of the game Chinese Whispers? In this game, a phrase is given to the first player who
                whispers this to the next player and so on. The last person who says the phrase out loud usually has a
                very modified version of the original. In the same way when people communicate, there is a difference in
                the meaning of what is said and what is understood.
            </p>
            <br>
            <p>
                Similarly, in modern day media, the reporters who cover a certain story present their interpretation of
                it. This interpretation is often influenced by their knowledge on the topic, or the lack thereof.
            </p>
            <br>
            <p>In other cases, people might manipulate the information to mislead the general audience in an attempt to
                fabricate their opinions and thoughts. This leads to a huge mass of people being misinformed and basing
                their opinions and stances on biased or unreliable information. In the same way, the audience that
                listens to this news creates its own interpretation of it and spreads it around creating a long chain.
            </p>
            <br>
            <p>
                This effect is commonly observed in media platforms such as newspapers, channels and articles. Social
                media, a place where most of the youth gets their information on current affairs and various important
                topics of discussion, is unsurprisingly used to shape the thoughts of young minds. Various individuals
                and teams on different social media platforms make groups and spread their prejudiced outlook on
                sensitive news and topics.In this unethical attempt to influence and control, the opinions that are
                shaped might be harmful to the general public. Armed with misinformation, people who try to condone it
                and force their views on other people, actively cause a negative impact on others. The implementation of
                this is noticeable in religious, political and philosophical views.
            </p>
            <br>
            <p>
                While everyone is entitled to their own opinions and stances, the immoral practice of using one's voice
                or authority to fabricate the views of masses for personal gain is foul on various levels. Opinion
                stories sell while factual information has a much lower value in the popular marketplace. Despite having
                all information on their fingerprints, people now are gullible and believe what they hear instead of
                researching the facts. This habit is exploited by many to spread propaganda or for support.
            </p>
            <h3>Need to use ones voice responsibly</h3>
            <p>The problem is not people having different views. Our opinions and stances are what build our
                personalities. The problem here is being misled in the first step of the process. Where you might either
                not have sufficient information or have biased or fabricated information. This holds you back from
                forming your own opinion.
                <br>
                <br>
                When you have the opportunity or authority to spread your voice to the masses, it also brings you the
                responsibility to use the power ethically. The information you spread, the views you share, must have a
                certain level of credibility and integrity
                <br>
                <br>
                Alternatively, if you find people being misled on a topic you’re well versed with, you should do your
                part and spread awareness, make people see the flip side of the coin, open up various approaches to the
                situation and the different possible interpretations.
                <br>
                <br>
                People are entitled to their opinions but for the opinions to be truly theirs, they need the right kind
                of information and news. It is unethical to inhibit this right from people.
                <br>
                <br>
                Aural provides a platform for people to raise their voice. We encourage people to stand for the right,
                to put their views forward, to spread awareness among the listeners and help them make their own
                judgements and form their stance. Want to raise your voice? Want people to know your side of the story?
                Then make sure you’re ready for Aural! Join Aural as a creator and be part of the select community of
                initial creators. App launch is right around the corner. We’re at the edge of our seats, are you?
            </p>
        </div>
        <div class="blogPage__footer">
            <h3 class="authorTitle">About the Author</h3>
            <div class="authorCard">
                <img src="/Components/BlogImages/author1.png" alt="Author" />
                <p>
                    Hello, my name is <span class="authorName">Ahana Sadh</span>. I'm currently pursuing a B.Tech degree
                    from Sikkim Manipal Institute of Technology and currently interning
                    as a Social Media Manager at Aural. <br><br>
                    <a href="/Components/BlogPages/SocialAudio.html">Read More</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>